
#main {
    display: flex;
    justify-content: center;
    margin: 5px 0 0 0;
}
.card-text {
    margin-bottom: 0;
}
.dmg {
    margin-left: 14px;
}
.mod {
    margin-left: auto;
    margin-right: 15px;
}
.btn {
    margin: 2.5px;
}
.attack {
    margin-left: 14px;
}
.top-banner {
    display: flex;
    flex-flow: row nowrap;
    top: 91px;

    .to-hit, .damage, .nat20 {
        margin-bottom: 0;
    }
}
