<div class="top-banner sticky-top bg-light">
  <p class="to-hit col-4">To Hit: {{attack}}</p>
  <div class="nat20 col-4">
    <p class="nat20" *ngIf="nat20">Natural 20!</p>
  </div>
  <p class="damage col-4">Damage: {{damage}}</p>
</div>
<div id="main" *ngFor="let spell of mySpells">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{spell.name}}</h5>
      <p class="card-text school"><i>Level {{spell.level}} {{spell.school.name}}</i></p>
      <p class="card-text casting time"><b>Casting Time:</b> {{spell.casting_time}}</p>
      <p class="card-text range"><b>Range:</b> {{spell.range}}</p>
      <p class="card-text components"><b>Components:</b> {{spell.components}}</p>
      <p class="card-text duration"><b>Duration:</b> {{spell.duration}}</p>
      <p class="card-text desc">{{spell.desc}}</p>
      <div class="row" *ngIf="spell.dmgDice">
        <p class="card-text dmg">{{spell.dmgDiceAmt}}d{{spell.dmgDice.max}} {{spell.dmgType}} damage.</p>
        <p class="card-text mod">{{spellcastingAbility}} Mod: {{spellcastingMod}}</p>
        <div class="buttons">
          <button class="btn btn-primary attack" (click)="attackRoll(spellcastingMod)">Attack Roll</button>
          <button class="btn btn-primary damage" (click)="damageRoll(spellcastingMod, spell.dmgDice.max, spell.dmgDice.min, spell.dmgDiceAmt)">Damage Roll</button>
        </div>
      </div>
    </div>
  </div>
</div>
