.navbar {
    padding: 0;
}
.navbar-brand {
    margin: 0 0 0 70px;
}
.test {
    display: flex;
    flex-flow: row nowrap;

    .btn {
        min-width: 100%;
    }
}
.stat-container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 3px;
    padding: 2px;

    .stat-info {
        margin: 2px;
    }
    .name{
        border-bottom: 1px solid rgba(0, 0, 0, .3);
    }
}
