
<div class="top-banner sticky-top bg-light">
  <p class="to-hit col-4">To Hit:{{attack}}</p>
  <div class="nat20 col-4">
    <p class="nat20" *ngIf="nat20">Natural 20!</p>
  </div>
  <p class="damage col-4">Damage:{{damage}}</p>
</div>
<div id="main" *ngFor="let equip of myEquip">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{equip.name}}</h5>
      <p class="card-text value"><i>Cost: {{equip.cost.quantity}} {{equip.cost.unit}}</i></p>
      <p class="card-text equip-properties">
        <b>Properties:</b>
        <div *ngFor="let property of equip.properties">
            <p class="card-text">{{property.name}}</p>
        </div>
      <p class="card-text type"><b>Weapon Type:</b> {{equip.weapon_range}}</p>
      <p class="card-text category"><b>Weapon Category:</b> {{equip.weapon_category}}</p>
      <div *ngIf="equip.dmgDice">
        <p class="card-text mod">{{attackAbility}} Mod: {{attackMod}}</p>
        <p class="card-text dmg">{{equip.dmgDiceAmt}}d{{equip.dmgDice.max}} {{equip.dmgType}} damage.</p>
        <div class="buttons">
          <button class="btn btn-primary attack" (click)="attackRoll(attackMod)">Attack Roll</button>
          <button class="btn btn-primary damage" (click)="damageRoll(attackMod, equip.dmgDice.max, equip.dmgDice.min, equip.dmgDiceAmt)">Damage Roll</button>
        </div>
      </div>
    </div>
  </div>
</div>
